nav {
    padding: 15px 50px;
    background: rgba(0, 0, 0, 0.3); /* Transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

/* Estilos del menú */
.navbar-nav {
   
    padding: 10px;
    list-style: none;
    display: flex;
    gap: 30px;
   
}

.nav-item a {
    margin-inline: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
   
}

.nav-item a:hover {
    color: #ff0000; 

}

/* Botón */
button {
    background: #bb0808;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #300505;
}